body {
    margin:0;
    padding:0;
    background-image: url("bg.jpg")
}

h1{
    text-align:center;
    color:white;
}

h2{
    color:white;
}

p{
    font-size:19px;
    color:white;
}
#overlay {
    margin:50px auto;
    width:960px;
    height:500px;
    background-color: rgba(0, 0, 0, 0.5);
}

.block1{
    width:500px;
    height:500px;
    float:left;
}

.block2{
    width:400px;
    float:left;
    margin-left:50px;
}