body{
    margin: auto;
    max-width: 500px;
    border: solid 5px grey;
    background-image: radial-gradient( #F24405 20%, #F20544 40%, #BF045B 60%, #2E0259 80%, #210140 100%);
    background-repeat: no-repeat;
}
h1{
   color: white;
   text-align: center;
}
div
{
    overflow: hidden;  
}
.left
{
   float: left; 
}.right
{
    float: right;
}
img
{
    height: 50px;
    width: 50px;
}